<h2>Hello Makers, I'm the view indexTwo.html rendered by serverTwo</h2>


<h3>Sample form Two</h3>

<form id="form" name="form" method="post" action="voting_results">
  <div class=“answers”>

  <input name="pr_1" id="pr_87887" value="Chocolate##87887" type="radio">
  <label for="pr_87887"> Chocolate </label>
  <br>
  <br>

  <input name="pr_1" id="pr_87890" value="Cream##87890" type="radio">
  <label for="pr_87890"> Cream </label>
  <br>
  <br>

  <input name="pr_1" id="pr_87883" value="Vanilla##87883" type="radio">
  <label for="pr_87883"> Vanilla </label>
  <br>
  <br>

  <input value="Vote" class="botton" type="submit">
  <input name="date" value="2014/11" type="hidden">
  <input name="index_answer" value="" type="hidden">
</form>

<!-- ?survey=151999 -->